.nav-container {
  width: 100%;
  background-color: #2c364c;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
}
.nav-logo {
  width: 100px;
}
.nav-options-sm-container {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}
.nav-options-lg-container {
  display: none;
}
.icons {
  font-size: 33px;
  color: #ffffff;
}

@media (min-width: 768px) {
  .nav-options-sm-container {
    display: none;
  }
  .nav-options-lg-container {
    display: block;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
  }
  .home-jobs-options-container {
    display: flex;
    justify-content: space-around;
    width: 40%;
  }
  .home-text {
    color: #ffffff;
    font-family: 'Roboto';
    list-style-type: none;
    font-size: 26px;
  }
  .logout-button {
    background-color: #4f46e5;
    border: 0px none transparent;
    border-radius: 5px;
    outline: none;
    padding: 15px;
    color: #ffffff;
    width: 150px;
    font-size: 20px;
  }
  .link-text {
    text-decoration: none;
  }
}
